{% extends "base.html" %}

{% block page_title %}
    Sign Up
{% endblock %}

{% block search-bar %}
{% endblock %}

{% block content %}
    <div class="container xl:w-1/4 lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        {% include 'partial/social_login.html' %}
        <form method="POST" action="{% url "users:signup" %}">
            {% csrf_token %}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.password }}
            {{ form.password1 }}
            <button class="btn bg-red-500 text-white">Sign Up</button>
        </form>
        <div class="mt-3">
            <span class="mr-2">Have an account?</span>
            <a href="{% url 'users:login' %}" class="text-teal-500 font-medium">Log In</a>
        </div>
    </div>
{% endblock %}